:root {
  /* This represents the default color scheme. */
  --primary:              #ef3e36;
  --primary-variant:      #d7372c;
  --primary-fade:         #ef3f3681;
  --primary-translucent:  #ef3f363f;
  --info:                 #0f9af0;
  --successful:           #00aa74;
  --warning:              #ffa552;
  --danger:               #d62828;
  --toast:                #2d2d2d;
  --online:               #02d144;
  --offline:              #dbdbdb;
  --code-snippet:         #050911;
  --code:                 #a0c2fd;
  --transparent:          #00000000;
  --overlay:              #040404a1;
  --love:                 #ed4d62;
  --loyalty:              #0d6be6; 
  --voltura:              #4a4df5;
  --crimson:              #e60914;
  --white:                #ffffff;
  --black:                #000000;
  --gray:                 #808080;
  --lightgray:            #d3d3d3;
  --darkgray:             #a9a9a9;
  
  /* Enables a light-themed visual style for the interface */
  --default-light-scheme:         #f2f2f2;
  --card-light-scheme:            #ffffff;
  --heading-light-scheme:         #001b3b;
  --title-light-scheme:           #131313;
  --subtitle-light-scheme:        #4b4b4b;
  --description-light-scheme:     #2f2f2f;
  --placeholder-light-scheme:     #777777;
  --line-light-scheme:            #e5e5e5;
  --border-light-scheme:          #b9b9b9;
  --hover-light-scheme:           #d8d8d8;
  --receiver-light-scheme:        #ededed;
  --icon-light-scheme:            #2c2c2c;
  --disabled-light-scheme:        #e2e2e2;
  --skeleton-light-scheme:        #d8d8d8;
  --skeleton-loader-light-scheme: #e7e7e7;
  --ripple-light-scheme:          #00000033;

  /* Enables a dark-themed visual style for the interface */
  --default-dark-scheme:         #090b0e;
  --card-dark-scheme:            #1a1d23;
  --heading-dark-scheme:         #e6e6e6;
  --title-dark-scheme:           #f7f6f6;
  --subtitle-dark-scheme:        #e4e4e4;
  --description-dark-scheme:     #c4c4c4;
  --placeholder-dark-scheme:     #6e6e6e;
  --line-dark-scheme:            #23232e;
  --border-dark-scheme:          #33383f;
  --hover-dark-scheme:           #171a1f;
  --receiver-dark-scheme:        #181b20;
  --icon-dark-scheme:            #f2f2f2;
  --disabled-dark-scheme:        #17181d;
  --skeleton-dark-scheme:        #1b1c22;
  --skeleton-loader-dark-scheme: #23262b;
  --ripple-dark-scheme:          #6e81a779;
}

/* This will only apply when the user chooses a light color scheme. */
@media (prefers-color-scheme: light) {
  :root {
    --default-adaptive-scheme:         #f2f2f2;
    --card-adaptive-scheme:            #ffffff;
    --heading-adaptive-scheme:         #001b3b;
    --title-adaptive-scheme:           #131313;
    --subtitle-adaptive-scheme:        #4b4b4b;
    --description-adaptive-scheme:     #2f2f2f;
    --placeholder-adaptive-scheme:     #777777;
    --line-adaptive-scheme:            #e5e5e5;
    --border-adaptive-scheme:          #b9b9b9;
    --hover-adaptive-scheme:           #d8d8d8;
    --receiver-adaptive-scheme:        #ededed;
    --icon-adaptive-scheme:            #2c2c2c;
    --disabled-adaptive-scheme:        #e2e2e2;
    --skeleton-adaptive-scheme:        #d8d8d8;
    --skeleton-loader-adaptive-scheme: #e7e7e7;
    --ripple-adaptive-scheme:          #00000033;
  }
}

/* This will only apply when the user chooses a dark color scheme. */
@media (prefers-color-scheme: dark) {
  :root {
    --default-adaptive-scheme:         #090b0e;
    --card-adaptive-scheme:            #1a1d23;
    --heading-adaptive-scheme:         #e6e6e6;
    --title-adaptive-scheme:           #f7f6f6;
    --subtitle-adaptive-scheme:        #e4e4e4;
    --description-adaptive-scheme:     #c4c4c4;
    --placeholder-adaptive-scheme:     #6e6e6e;
    --line-adaptive-scheme:            #23232e;
    --border-adaptive-scheme:          #33383f;
    --hover-adaptive-scheme:           #24252f;
    --receiver-adaptive-scheme:        #181b20;
    --icon-adaptive-scheme:            #f2f2f2;
    --disabled-adaptive-scheme:        #17181d;
    --skeleton-adaptive-scheme:        #272832;
    --skeleton-loader-adaptive-scheme: #2d3137;
    --ripple-adaptive-scheme:          #6e81a779;
  }
}