:root {
  --radius-primary:        2px;
  --radius-secondary:      8px;
  --radius-tertiary:       12px;
  --radius-quaternary:     14px;
  --radius-quinary:        18px;
  --radius-senary:         28px;
  --radius-septenary:      100px;
  --radius-octonary:       50%;
  --radius-nonary:         12px 0 0 12px;
  --radius-denary:         0 12px 12px 0;
  --radius-undenary:       0 0 12px 12px;
  --radius-duodenary:      12px 12px 0 0;
  --radius-tredenary:      17px 17px 2px 17px;
  --radius-quattuordenary: 17px 17px 17px 2px;
  --radius-quindenary:     17px 2px 17px 17px;
  --radius-sexdenary:      2px 17px 17px 17px;
}